[smf]
protocol = https:
host = smfhost.example.com
port = 443
cookie = "SMFCookie463=abcabcabcabcabcabc; PHPSESSID=0abc0abc0abc;"
feed_fetch_delay = 1000
item_fetch_delay = 1000
loglevel = error

[database]
database = smf.db

[email]
host = localhost
port = 25
;user = user
;pass = pass
sender = <noreply@myemail.example.com>
to = me@example.com
