[smf]
protocol = http
host = smfhost.example.com
port = 80
cookie = "SMFCookie463=abcabcabcabcabcabc; PHPSESSID=0abc0abc0abc"

[database]
database = smf.db

[email]
host = localhost
port = 25
;user = user
;pass = pass
sender = <noreply@myemail.example.com>
to = me@example.com
